.education-content {
    padding: 30px 50px 0px 50px;
}

.education-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: stretch; */
    /* justify-items: stretch; */

    padding: 20px;
}

@media screen and (max-width: 600px) {
    .education-skills {
        padding: 10px;
    }
}

