.education-item {
    /* opacity: 0.8; */
    flex-basis: 45%;
    flex-grow: 1;
    background: #fff;
    box-shadow: 0 50px 150px 0 rgb(4 73 89 / 5%);
    padding: 20px;
    margin: 10px 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
}
.education-item:nth-child(2n){
    animation-name: education-left;
}
.education-item:nth-child(2n+1){
    animation-name: education-right;
}
@keyframes education-left {
    0% {
        opacity: 0;
        transform: translate3d(80px, -100%, 0px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes education-right {
    0% {
        opacity: 0;
        transform: translate3d(-80px, -100%, 0px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    .education-item {
        flex-basis: 100%;
        padding: 10px;

    }
}

.education-item:hover {
    box-shadow: 0 4px 60px 0 rgb(4 73 89 / 5%), 0 12px 100px 0 rgb(4 73 89 / 6%);
    /* color: #64f4ac; */
    /* color: #0ebb43; */
    color: #00c99c;
}

.education-item .speciality {
    margin: 10px auto;
}

.education-item .icon {
    position: absolute;
    opacity: 0.5;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #64f4ac;
}