/* Slideshow */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-flex;
  background-color: #eff9f7;
  align-items: flex-end;
  height: 550px;
  width: 100%;
  border-radius: 4px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .slide {
    height: 400px;
  }
}

.slide img {
  max-width: 750px;
  max-height: 400px;
  width: 100%;
  margin: auto;
  object-fit: contain;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

@media screen and (max-width: 600px) {
  .slide img {
    max-height: 250px;
  }
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #fff;
}

.slideshowDot.active {
  background-color: #358f62;
}

@media screen and (max-width: 600px) {
  .slideshow {
    /* padding: 10px; */
  }
}
