/* @import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

html {
	line-height: 30px;
	font-family: "Montserrat", "Poppins", sans-serif;
}

/* Mobile first short: */
/* mobile: */
@media screen and (max-width: 600px) {
	html {
		font-size: 12px;
	}
}

/* tablet-portrait: */
@media screen and (min-width: 600px) {
	html {
		font-size: 13px;
	}
}

/* table landscape: */
@media screen and (min-width: 900px)  {
	html {
		font-size: 14px;
	}
}

/* desktop: */
@media screen and (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

/* desktop big: */
@media screen and (min-width: 1800px) {
	html {
		font-size: 17px;
	}
}

body,
table,
th,
td,
form,
input,
textarea,
option,
select {
	font: inherit;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1.1rem;
}

blockquote {
	font-style: italic;
}