@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

html {
	line-height: 30px;
	font-size: 16px;
	font-family: "Montserrat", "Poppins", sans-serif;
}

@media screen and (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

body,
table,
th,
td,
form,
input,
textarea,
option,
select {
	font: inherit;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}

ul,
ol {
	padding-bottom: 0em;
}

ul,
ol {
	padding-left: 0em;
}

li {
	list-style-position: inside;
}

blockquote {
	width: 80%;
	margin: 0 auto;
	border-left: 4px solid #DDD;
	font-style: italic;
	padding: 1rem 2rem;
	position: relative;
}