.main-wrapper {
    position: relative;
    background: linear-gradient(to right, #6da4ff, #f1f7fe);
}

.main-wrapper,
.sidebar {
    flex-grow: 1;
}

.sidebar {
    display: none;
}

.overlay-color {
    position: absolute;
    width: 40%;
    height: calc(100% - 3px);
    right: 0px;
    top: 2px;
    background-color: #e5effd;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    opacity: 0.53;
    z-index: 1;
}