.field {
    position: relative;
}

.input {
    flex-basis: 45%;
}

@media screen and (max-width: 900px) {
    .input {
        flex-basis: 100%;
    }
}

.form-control {
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 6px;
    padding: 20px;
}

.form-control:focus {
    outline-color: #6da4ff;
}

.placeLabel {
    position: absolute;
    color: #8c8c8c;
    top: 20px;
    left: 20px;
    font-size: 1.8rem;
}

.form-control:focus {
    outline-color: #6da4ff;
}

.minimise {
    font-size: 1.0rem;
    top: 0%;
}

.passwordToggle {
    position: absolute;
    background: none;
    border: none;
    top: 30px;
    right: 0px;
    color: #8c8c8c;
    padding: 0 20px;
    font-size: 1.0rem;
}