.field {
    position: relative;
}

.input {
    position: relative;
    flex-basis: 45%;
    margin:10px 0;
}

@media screen and (max-width: 900px) {
    .input {
        flex-basis: 100%;
    }
}

.form-control {
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 20px;
}

.form-control:focus {
    outline-color: #6da4ff;
}

.placeLabel {
    position: absolute;
    color: #8c8c8c;
    top: 20px;
    left: 20px;
    font-size: 1.2rem;
}

.form-control:focus {
    outline-color: #6da4ff;
}

.minimise {
    font-size: 1.0rem;
    top: 0%;
}
