.contact-area-container {
    display: flex;
    justify-content: space-evenly;
}

/* .contact-area-section-title{
    margin-bottom: 70px;
} */

.contact-area-content {
    flex-basis: 30%;
}
.contact-area-form {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    animation-duration: 1500ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
}

.contact-area-form .input-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    flex-basis: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.form-control {
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 6px;
    padding: 20px;
}

.form-control:focus{
    outline-color: #6da4ff;
}

textarea {
    resize: none;
}