.header {
    position: relative;
    padding-bottom: 20px;
    /* position: sticky; */
    /* top: 0; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header .site-title {
    text-transform: uppercase;
    margin: 30px 0;
}

/*Hide the nav label Menu:*/
.header .toggle-nav,
.header .nav-toggler {
    display: none;
}

.header .nav {
    margin-left: 0;
    /* padding: 0 20px; */
    display: flex;
    justify-content: space-around;
    flex-basis: 80%;
    flex-grow: 1;
}

.header .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .nav-list:last-child {
    justify-self: flex-end;
}

.header .nav-list .list-item {
    background: #e5effd;
    border-radius: 6px;
    padding: 5px 5px;
    margin: 5px;
    /* -webkit-transition: all .3s linear;
    transition: all .3s linear; */
}

.header .nav-list .list-item:hover {
    /* border-bottom: 2px solid #051441; */
    /* border: 2px solid transparent; */
    /* border: 2px solid #051441; */
    box-shadow: 1px 1px 1px 1.2px rgb(124 179 243 / 78%);
    font-size: 1em;
    /* font-weight: bold; */
}

.header .nav-list .list-item a {
    color: #0e2979;
    position: relative;
}

/* remove infinite if you want only once */
/* .header .nav-list .list-item > a:hover::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0px;
    height: 2px;
    width: 0%;
    background-color: #0e2979; 
    animation: underline 1s ease-in-out 0s infinite;
    animation: underline 1s ease-in-out 0s 1;
}  
@keyframes underline {
    to {
        width: 100%;
    }
}
*/

.header .nav-list .list-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    left: 0;
    background: #0e2979;
    visibility: hidden;
    /* border-radius: 5px; */
    transform: scaleX(0);
    transition: .5s linear;
}

/* .header .nav-list .list-item a:hover:before,
  .header .nav-list .list-item a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  } */
.header .nav-list .list-item:hover a:before,
.header .nav-list .list-item:focus a:before {
    visibility: visible;
    transform: scaleX(1);
}

.header .nav-list .list-item a:before {
    /* background: rgba(0,0,0,0); */
    /* box-shadow: 0 0 10px 0.5px #fff;   */
}

.header img {
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-content: stretch;
        align-items: unset;
        padding-bottom: 0;
        border: none;
    }

    .header .site-title {
        align-self: center;
    }

    .header .toggle-nav {
        display: initial;
        align-self: flex-end;
        margin: 20px 0;
    }

    .header .nav {
        /*.header .nav is collapsed, this means - unvisible!!!*/
        visibility: collapse;
        flex-basis: unset;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        position: absolute;
    }

    .header .nav-list {
        flex-direction: column;
        border-top: 1px solid #051441;
        border-bottom: 1px solid #051441;
        border-radius: unset;
        align-items: stretch;
    }

    /*Responsive nav*/
    .header {
            flex-wrap: wrap;
        }
    /*The label for na Menu button is shown:*/

    /*If the input is checked, the following styles are applied to the header .nav:
    V React ne raboti + i go zameni s ~ !!!!!*/
    /* input:checked + .nav { */
    input.nav-toggler:checked~.nav {
        /*.header .nav is visible!!!*/
        visibility: visible;
        position: relative;
    }
}

@media screen and (max-width: 1200px) {
    .header .nav {
        justify-content: space-between;
        flex-basis: 100%;
    }

    .header .nav-list {
        justify-content: center;
        align-items: stretch;
    }
}