.header-wrapper {
    background: linear-gradient(1.14deg, rgb(244, 247, 252) 0%, rgb(255, 255, 255) 100%);
}

.header-content {
    position: relative;
    padding: 0 20px;
    flex-wrap: unset;
    justify-content: space-between;
    z-index: 9999;
}

.header-content .site-title {
    position: relative;
    text-transform: uppercase;
    margin-top: 10px;
}

.header-content .site-title .logo-img {
    max-width: 100px;
}

/*Hide the nav label Menu:*/
.header-content .toggle-nav,
.header-content .nav-toggler {
    display: none;
}

.header-content .nav {
    margin-left: 0;
    /* padding: 0 20px; */
    display: flex;
    justify-content: space-around;
    flex-basis: 80%;
    flex-grow: 1;
}

.header-content .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-content .nav-list:last-child {
    justify-self: flex-end;
}

.header-content .nav-list .list-item {
    background: #e5effd;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
    /* -webkit-transition: all .3s linear;
    transition: all .3s linear; */
}

.header-content .nav-list .list-item:hover,
.header-content .nav-list .list-item:focus,
.header-content .nav-list .list-item:active {
    /* border-bottom: 2px solid #051441; */
    /* border: 2px solid transparent; */
    /* border: 2px solid #051441; */
    box-shadow: 1px 1px 1px 1.2px rgb(124 179 243 / 78%);
    font-size: 1rem;
    /* font-weight: bold; */
}

.header-content .nav-list .list-item a {
    color: #0e2979;
    position: relative;
}

/* remove infinite if you want only once */
/* .header-content .nav-list .list-item > a:hover::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0px;
    height: 2px;
    width: 0%;
    background-color: #0e2979; 
    animation: underline 1s ease-in-out 0s infinite;
    animation: underline 1s ease-in-out 0s 1;
}  
@keyframes underline {
    to {
        width: 100%;
    }
}
*/

.header-content .nav-list .list-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 2px;
    left: 0;
    background: #0e2979;
    visibility: hidden;
    /* border-radius: 5px; */
    transform: scaleX(0);
    transition: .5s linear;
}

/* .header-content .nav-list .list-item a:hover:before,
  .header-content .nav-list .list-item a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  } */
.header-content .nav-list .list-item:hover a:before,
.header-content .nav-list .list-item:focus a:before,
.header-content .nav-list .list-item:active a:before {
    visibility: visible;
    transform: scaleX(1);
}

.header-content .nav-list .list-item a:before {
    /* background: rgba(0,0,0,0); */
    /* box-shadow: 0 0 10px 0.5px #fff;   */
}

.header-content .logo-img {
    position: relative;
    top: 10px;
    left: 10px;
}

.header-content .logo-text {
    position: absolute;
    width: 100%;
    top: 50%;
    right: 50%;
    transform: translate(55%, -50%);
    color: #2b495d;
}

@media screen and (max-width: 600px) {
    .header-content {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: unset;
        padding: 0 10px;
        border: none;
    }

    .header-content .site-title {
        align-self: center;
    }

    .header-content .toggle-nav {
        display: initial;
        align-self: flex-end;
        position: absolute;
        top: 50px;
    }

    .header-content .nav {
        /*.header-content .nav is collapsed, this means - unvisible!!!*/
        /* visibility: collapse; */
        display: none;
        position: absolute;
    }

    .header-content .nav-list {
        flex-direction: column;
        border-top: 1px solid #051441;
        border-bottom: 1px solid #051441;
        border-radius: unset;
        align-items: stretch;
    }

    .header-content .nav-list a {
        text-align: center;
    }

    /*The label for na Menu button is shown:*/
    /*If the input is checked, the following styles are applied to the header-content .nav:
    V React ne raboti + i go zameni s ~ !!!!!*/
    /* input:checked + .nav { */
    input.nav-toggler:checked~.nav {
        /*.header-content .nav is visible!!!*/
        /* visibility: visible; */
        display: flex;
        flex-basis: unset;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        position: relative;
    }

    .header-content .nav-list .list-item:hover a:before,
    .header-content .nav-list .list-item:focus a:before,
    .header-content .nav-list .list-item:active a:before {
        /* visibility: visible;
        transform: scaleX(1); */
        transition: .1s linear;
    }
}

@media screen and (max-width: 1200px) {
    .header-content .nav {
        justify-content: space-between;
        flex-basis: 100%;
    }

    .header-content .nav-list {
        justify-content: center;
        align-items: stretch;
    }
}