.blog-post-item {
  flex-basis: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 50px 150px 0 rgb(255 255 255 / 50%);
  /* box-shadow: 0 50px 150px 0 rgb(4 73 89 / 5%); */
  margin: 10px 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  border-radius: 5px;
  margin: 15px;
  /* cursor: pointer; */
  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: blog;
}

@keyframes blog {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
    /* transform: translate3d(0px, 100%, 0px); */
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .blog-post-item {
    flex-basis: 100%;
    padding: 10px;
  }
}

.blog-post-item:hover {
  /* box-shadow: 0 4px 60px 0 rgb(4 73 89 / 5%), 0 12px 100px 0 rgb(4 73 89 / 6%); */
  box-shadow: 0px 0px 20px 0px #6da4ffc9;
  /* color: #64f4ac; */
  /* color: #0ebb43; */
  color: #00c99c;
}

.blog-post-item .media-top {
  opacity: 0.8;
}

.blog-post-item .media-top:hover {
  opacity: 1;
}

.blog-post-item .media-content {
  padding: 20px;
}

.blog-post-item .image-fluid {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  width: 100%;
  object-fit: contain;
  transition: all .3s linear;
}

.blog-post-item .date {
  position: absolute;
  background: white;
  opacity: .9;
  width: 65px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: hsla(0, 0%, 100%, .95);
  text-align: center;
  top: 0px;
  right: 20px;
  line-height: 21px;
  display: flex;
  align-items: center;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.blog-post-item .author {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
}

.blog-post-item .actions {
  font-size: 0.8rem;
}

.blog-post-item .title {
  font-size: 1.3rem;
  margin: 10px 0;
}

.blog-post-item .reactions {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}