.experience-wrapper{
    position: relative;
}

.experience-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: stretch; */
    /* justify-items: stretch; */
    padding: 20px 30px;
}

.experience-item {
    /* flex-basis: 80%; */
}

@media screen and (max-width: 600px) {
    .experience-items {
        padding: 10px;
    }
}
