li {
  list-style-position: inside;
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote {
  width: 80%;
  margin: 0 auto;
  border-left: 4px solid #DDD;
  padding: 1rem 2rem;
  position: relative;
}

.content-wrapper {
  position: relative;
  max-width: 95%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* color: #051441; */
  color: #0e2979;
  background: linear-gradient(1.14deg, rgb(244, 247, 252) 0%, rgb(255, 255, 255) 100%);
  box-shadow: 0px 0px 3px 1px rgb(191 211 212);
  border-radius: 4px;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* min-height: 100px; */
  /* align-items: stretch; */
  align-items: center;
  z-index: 1;
}

.header,
.page-wrapper,
.sidebar {
    padding: 0 20px ;
    /* margin-top: 2px;
  border-radius: 2px; */
}

.main-wrapper,
.sidebar {
  flex-grow: 1;
}

.sidebar {
  display: none;
}

.overlay-color {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0px;
  top: 2px;
  background-color: #e5effd;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0.53;
  z-index: -1;
}

/* Bootstrap breakpoints - max-width:
phone (+ landscape phones) - max-width: 576px;
tablet - min-widht: 576px;
tablet - max-width: 768px; 
laptop - min-width: 768px;
laptop - max-width: 992px;
desktop - min-width: 992px;
desktop - max-width: 1200px;
desktop big - min-width: 1200px;*/

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */