.content-wrapper {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #051441;
}

.header,
.main-content,
.sidebar,
.footer {
  background: white;
  box-shadow: 2px -2px 15px 4px rgb(191 211 212);
  padding: 20px;
  margin: 5px;
  border-radius: 6px;
}

.header {
  position: relative;
  /* position: sticky; */
  /* top: 0; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.header .site-title {
  text-transform: uppercase;
}

.header .nav-toggler {
  display: none;
  font-weight: bold;
}

.header .nav {
  margin-left: 0;
  /* padding: 0 20px; */
  display: flex;
  justify-content: space-around;
  flex-basis: 80%;
  flex-grow: 1;
}


.header .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header .nav-list:last-child {
  justify-self: flex-end;
}

.list-item {
  list-style: none;
}

.header .nav-list .list-item {
  background: #E5FCFD;
  border-radius: 6px;
  padding: 5px 5px;
  margin: 5px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.header .nav-list .list-item:hover {
  border-top: none;
  /* border-bottom: 2px solid #051441; */
  /* border: 2px solid transparent; */
  border: 2px solid #051441;
  font-size: 1em;
  font-weight: bold;
}

.header .nav-list a {
  color: #051441;
  text-decoration: none;
}

.header img {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media screen and (max-width: 1200px) {
  .header .nav {
    justify-content: space-between;
    flex-basis: 100%;
  }

  .header .nav-list {
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .header .nav-toggler {
    display: initial;
    align-self: center;
    margin: 20px 0;
  }

  .header {
    flex-direction: column;
    align-content: stretch;
    align-items: unset;
    padding-bottom: 0;
    border: none;
  }

  .header .nav {
    flex-basis: unset;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .header .site-title {
    align-self: center;
  }

  .header .nav-list {
    flex-direction: column;
    border-top: 1px solid #051441;
    border-bottom: 1px solid #051441;
    border-radius: unset;
    align-items: stretch;
  }
}



.page-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: stretch;
}

.main-content,
.sidebar {
  flex-grow: 1;
}

.main-content {
  flex-basis: 80%;
  background-color: #F0F6FD;
}

.paging {
  display: flex;
  align-items: center;
  max-width: 15vw;
  height: 35rem;
  margin: 100px auto;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.container,
.week,
.notes {
  display: flex;
  flex-wrap: wrap;
}

.container {
  align-items: stretch;
}

.week {
  flex-basis: 70%;
  flex-grow: 1;
}

.notes {
  flex-direction: column;
  font-size: 1.5rem;
  flex-grow: 1;
}

span {
  border: 1px solid black;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
}

.workweek-days,
.weekend-days {
  font-size: 1.5rem;
  flex-basis: 100%;
  padding-bottom: 330px;
}


/* Bootstrap breakpoints - max-width:
phone (+ landscape phones) - max-width: 576px;
tablet - min-widht: 576px;
tablet - max-width: 768px; 
laptop - min-width: 768px;
laptop - max-width: 992px;
desktop - min-width: 992px;
desktop - max-width: 1200px;
desktop big - min-width: 1200px;*/

/*mobile - to target landscape phones + tablet:*/
@media screen and (max-width: 576px) {
  .header .nav-toggler {
    display: initial;
    align-self: center;
    margin: 20px 0;
  }

  .header {
    flex-direction: column;
    align-content: stretch;
    align-items: unset;
    padding-bottom: 0;
    border: none;
  }

  .header .nav {
    flex-basis: unset;
  }

  .header .site-title {
    align-self: center;
  }

  .header .nav .nav-list {
    flex-direction: column;
    border-top: 1px solid #051441;
    border-bottom: 1px solid #051441;
    border-radius: unset;
  }
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */