@import './styles/typography.css';

html {
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent; */
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 1240px;
  padding: 0;
  margin: 0 auto;
}
