@import './styles/typography.css';

html {
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent; */
  background: linear-gradient(to right,#6da4ff,#f1f7fe);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
}
