@import './styles/typography.css';

html {
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent; */
  background-color:#6da4ff ;
  /* background: linear-gradient(1.14deg, rgb(244, 247, 252) 0%, rgb(255, 255, 255) 100%); */
  /* background: linear-gradient(to right,#6da4ff,#f1f7fe); */
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  color: #2b495d;
}


/* Mobile first short: */
/* mobile: */
@media screen and (max-width: 600px) {
   
}

/* tablet-portrait: */
@media screen and (min-width: 600px) {
    
}

/* table landscape: */
@media screen and (min-width: 900px)  {

}

/* desktop: */
@media screen and (min-width: 1200px) {

}

/* desktop big: */
@media screen and (min-width: 1800px) {
     
}